<h2>Supprimé</h2>
<br>
<p>il nous faudra juste l'id de l'incident que vous voulez supprimer</p>
<form [formGroup]="form" (ngSubmit)="add()">
  <div>
    <label for="id">Id :</label>
    <input type="id" id="id" formControlName="id">
  </div>

  <button type="submit">del</button>
</form>
<br>
<p><mark>fonction bien sauf quand on rentre un id inexistant / j'aurais du l'enleve de la version final car le btn supprimé est dans la liste mais jvoulais laisser si tu veut t'amusé a regardé ce que j'ai fait et qui sert a rien xD</mark></p>
